{% extends 'base.html.twig' %}

{% block title %}Lunettes index{% endblock %}
{% block stylesheets %}
    
{% endblock %}
{% block body %}
    
    <h1>Lunettes index</h1>
    
    <table class="table" id="lunettesIndex">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Couleur</th>
                <th>Type</th>

                {% if not is_granted('ROLE_ADMIN') %}
                <th>Description</th>
                {% endif %}

                <th>Genre</th>
                <th>Photo</th>
                <th>PrixLunettes</th>
                <th>Quantité</th>

                {% if is_granted('ROLE_ADMIN') %}
                    <th>Statut</th>
                    <th>actions</th>
                {% endif %}
                <th>Panier</th>
            </tr>
        </thead>
        <tbody>
        
        {% for lunette in lunettes %}
            <tr>
                <td>{{ lunette.id }}</td>
                <td>{{ lunette.nom }}</td>

                {% if lunette.couleur %}
                    <td>{{ lunette.couleur.nom }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if lunette.type %}
                    <td>{{ lunette.type.nom }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if not is_granted('ROLE_ADMIN') %}
                
                <td>{{ lunette.description }}</td>
                {% endif %}
                <td>{{ lunette.genre.nomGenre }}</td>
                

                <td><img class="lunettesPhoto" src="{{ vich_uploader_asset(lunette) }}" alt="image"></td>
                <td>{{ lunette.prixLunettes }}</td>
                <td>{{ lunette.quantite }}</td>

                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ lunette.statut ? 'Yes' : 'No' }}</td>
                {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <div class="row">
                    <a href="{{ path('lunettes_show', {'id': lunette.id}) }}">
                       <button class="btn btn-outline-dark">Voir</button> 
                    </a>
                    <a href="{{ path('lunettes_edit', {'id': lunette.id}) }}">
                        <button class="btn btn-outline-dark">Edition</button>
                    </a>
                </div>
                </td>
            {% endif %}
                <td><a href="{{ path('cart_add', {'id':lunette.id}) }}" class="btn btn-success"><i class="fas fa-shopping-cart mr-1"></i></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
    
        
    
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('lunettes_new') }}">Create new</a>
    {% endif %}
{% endblock %}
