{% extends 'base.html.twig' %}

{% block title %}Lunettes index{% endblock %}
{% block stylesheets %}
    
{% endblock %}
{% block body %}
    <div class="container">
    <h1>Lunettes index</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Couleur</th>
                <th>Type</th>
                <th>Description</th>
                <th>Photo</th>
                <th>PrixLunettes</th>
                <th>Quantité</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Statut</th>
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for lunette in lunettes %}
            <tr>
                <td>{{ lunette.id }}</td>
                <td>{{ lunette.nom }}</td>

                {% if lunette.couleur %}
                    <td>{{ lunette.couleur.nomCouleur }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if lunette.type %}
                    <td>{{ lunette.type.nomType }}</td>
                {% else %}
                    <td></td>
                {% endif %}

                <td>{{ lunette.description }}</td>

                <td><img class="lunettePhoto" src='{{ vich_uploader_asset(lunette) }}' alt="image"></td>
                <td>{{ lunette.prixLunettes }}</td>
                <td>{{ lunette.quantite }}</td>
                <td>{{ lunette.statut ? 'Yes' : 'No' }}</td>
            {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <div class="row">
                    <a href="{{ path('lunettes_show', {'id': lunette.id}) }}">
                       <button class="btn btn-outline-dark">Voir</button> 
                    </a>
                    <a href="{{ path('lunettes_edit', {'id': lunette.id}) }}">
                        <button class="btn btn-outline-dark">Edition</button>
                    </a>
                </td>
                </div>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('lunettes_new') }}">Create new</a>
    {% endif %}
    </div>
{% endblock %}
