{{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_label(form.nom, 'Nom des Lunettes ', {'label_attr': {'class': 'foo'}}) }}
    {{ form_widget(form.nom) }}
    {{ form_row(form.prixLunettes) }}
    {{ form_row(form.description) }}
    {{ form_row(form.quantite) }}
    {{ form_row(form.statut) }}
    


<button class="btn btn-outline-dark">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
